body {
    min-height: 100vh;
}

.take_attendance {
    /* background-color: rgb(16, 16, 16); */
}

.take_attendance>.label {
    margin: 0;
}

.take_attendance {
    margin: 0 auto;
    width: 40%;
    background-color: rgba(240, 248, 255, 0.304);
    border-radius: 20px;
    padding: 40px;
    border: 2px white solid;
    margin-top: 5%;
}

.take_attendance>label {
    font-size: xx-large;
    font-weight: bold;
    color: rgb(23, 26, 30);
    text-align: center;
    /* margin-bottom: 10px; */
}

.take_attendance>input {
    margin: 10px 0;
}

.attendance_img {
    width: 100%;
}

.take_attendance>input {
    color: rgb(23, 26, 30);
}

.take_attendance>button {
    background-color: rgb(23, 26, 30);
    color: white;
    margin: 10px auto;
    padding: 10px;
    /* padding-left: 15px;
    padding-right: 15px; */
    width: 40%;
    margin-left: 30%;
    border: 1px white solid;
    border-radius: 20px;
}

.more_Img {
    position: fixed;
    right: 0;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}

.take_attendance2>.label {
    margin: 0;
}

.take_attendance2>label {
    font-size: xx-large;
    font-weight: bold;
    color: rgb(23, 26, 30);
    text-align: center;
    /* margin-bottom: 10px; */
}

.take_attendance2>input {
    margin: 10px 0;
}

.attendance_img {
    width: 100%;
}

.take_attendance2>input {
    color: rgb(23, 26, 30);
}

.navv {
    position: fixed;
    z-index: 100000;
    width: 100%;
}

.take_attendance2>button {
    background-color: rgb(23, 26, 30);
    color: white;
    margin: 10px auto;
    padding: 10px;
    /* padding-left: 15px;
    padding-right: 15px; */
    width: 40%;
    margin-left: 30%;
    border: 1px white solid;
    border-radius: 20px;
}

.take_attendance2 {
    background-color: rgba(255, 255, 255, 0.196);
    width: 100%;
    height: 100%;
    border-left: white 2.5px solid;
    padding: 10px;
    padding-top: 20%;
}

.data {
    background-color: rgba(23, 26, 30, 0.71);
    position: absolute;
    left: 0;
    width: 70%;
    min-height: 100%;
    top: 55px;
    color: white;
}

.line-att {
    color: white;
    background-color: white;
    box-shadow: 5px 5px 20px white;
}

.img_checked {
    width: 50%;
    margin-left: 25%;
    display: block;
}

.download {
    display: block;
    position: relative;
    background-color: rgb(252, 253, 254);
    color: rgb(23, 26, 30);
    margin: 10px auto;
    padding: 10px;
    /* padding-left: 15px;
    padding-right: 15px; */
    font-weight: bolder;
    width: 20%;
    text-align: center;
    margin: 20px auto;
    border: 3px rgb(0, 0, 0) solid;
    border-radius: 20px;
    text-decoration: none;
}

.table_heading {
    margin: 5px 15px;
}

.contain {
    width: 50%;
    margin: 0 auto;
}